<nav class="mobnav" id="custMobNav">
  <a class="active" onclick="Router.go('home')"><span class="em">🏠</span><span data-bn="হোম" data-en="Home">হোম</span></a>
  <a onclick="Router.go('listing',{cat:'all'})"><span class="em">📂</span><span data-bn="ক্যাটাগরি" data-en="Category">ক্যাটাগরি</span></a>
  <a onclick="Cart.open()"><span class="em">🛍️</span><span data-bn="কার্ট" data-en="Cart">কার্ট</span></a>
  <a onclick="Router.go('myorders')"><span class="em">📦</span><span data-bn="অর্ডার" data-en="Orders">অর্ডার</span></a>
  <a onclick="Router.go('medical')"><span class="em"><img src="icons/dr_logo.jpeg" style="width:22px;height:22px;object-fit:cover;border-radius:5px;vertical-align:middle"></span><span data-bn="স্বাস্থ্য" data-en="Health">স্বাস্থ্য</span></a>
</nav>