ðŸ” à¦«à¦¿à¦²à§à¦Ÿà¦¾à¦°
à¦•à§à¦¯à¦¾à¦Ÿà¦¾à¦—à¦°à¦¿
à¦¸à¦¬ à¦ªà§à¦°à§‹à¦¡à¦¾à¦•à§à¦Ÿ
ðŸ’Š à¦”à¦·à¦§
ðŸ›’ à¦®à§à¦¦à¦¿ à¦¬à¦¾à¦œà¦¾à¦°
ðŸ”¥ à¦—à§à¦¯à¦¾à¦¸ à¦¸à¦¿à¦²à¦¿à¦¨à§à¦¡à¦¾à¦°
ðŸ’„ à¦•à¦¸à¦®à§‡à¦Ÿà¦¿à¦•à¦¸
ðŸ‘• à¦œà¦¾à¦®à¦¾-à¦•à¦¾à¦ªà¦¡à¦¼
ðŸ“± à¦®à§‹à¦¬à¦¾à¦‡à¦²

à¦¶à§à¦§à§ COD à¦ªà¦£à§à¦¯


ðŸ” à¦«à¦¿à¦²à§à¦Ÿà¦¾à¦°
            à¦ªà§à¦°à¦¾à¦¸à¦™à§à¦—à¦¿à¦•à¦¤à¦¾
            à¦®à§‚à¦²à§à¦¯: à¦•à¦® à¦¥à§‡à¦•à§‡ à¦¬à§‡à¦¶à¦¿
            à¦®à§‚à¦²à§à¦¯: à¦¬à§‡à¦¶à¦¿ à¦¥à§‡à¦•à§‡ à¦•à¦®
            à¦¸à¦°à§à¦¬à§‹à¦šà§à¦š à¦°à§‡à¦Ÿà¦¿à¦‚
            à¦¸à¦°à§à¦¬à¦¾à¦§à¦¿à¦• à¦¬à¦¿à¦•à§à¦°à¦¿à¦¤
          

